.container {
  max-width: 960px;
  width: 100%;
  margin: 3rem auto 0;
  text-align: center;
  font-size: 1.1rem;
  color: var(--text);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container p {
  font-size: inherit;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 2rem;
  }
}