.container {
  color: var(--text);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
