.container {
  margin-left: 0;
}

.container li {
  display: inline-block;
  margin-right: 2.5rem;
}

.container li a {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .container li {
    display: block;
  }
}