.container {
  transition: opacity 0.5s ease;
}

.check-box {
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.celestial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 14px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease;
  background-color: var(--toggle);
}

.celestial:hover {
  opacity: 1;
}

.sun {
  transform: scale(0.55);
}

.sun::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 -26px 0 #f1faee, 0 26px 0 #f1faee, 26px 0 0 #f1faee, -26px 0 0 #f1faee, 19px 19px 0 #f1faee, -19px 19px 0 #f1faee, 19px -19px 0 #f1faee, -19px -19px 0 #f1faee; /* would be nice to paint this using the theme! */
  position: absolute;
  top: 10px;
  left: 10px;
}

.moon {
}

.moon::after {
  content: "";
  width: 30px;
  height: 30px;
  background: #f1faee; /* would be nice to paint this using the theme! */
  border-radius: 50%;
  position: absolute;
  top: -9px;
  left: 9px;
}